<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的课程</string>
			<key>image</key>
			<string>icon_mine_kecheng</string>
			<key>controller</key>
			<string>TAMyKeChengVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的群组</string>
			<key>image</key>
			<string>icon_mine_group</string>
			<key>controller</key>
			<string>TAMyGroupVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的优惠</string>
			<key>image</key>
			<string>icon_mine_youhui</string>
			<key>controller</key>
			<string>TAMyYouHuiVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的消息</string>
			<key>image</key>
			<string>icon_mine_message</string>
			<key>controller</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>学习记录</string>
			<key>image</key>
			<string>icon_mine_record</string>
			<key>controller</key>
			<string>TAStudyRecordVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的分享</string>
			<key>image</key>
			<string>icon_mine_shared</string>
			<key>controller</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>商家入驻</string>
			<key>image</key>
			<string>icon_mine_business</string>
			<key>controller</key>
			<string>TAMyBusinessVC</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>帮助与反馈</string>
			<key>image</key>
			<string>icon_mine_help</string>
			<key>controller</key>
			<string>TAHelpAndSuggestVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>image</key>
			<string>icon_mine_setting</string>
			<key>controller</key>
			<string>TASettingVC</string>
		</dict>
	</array>
</array>
</plist>
